@import './partials/resets';
@import './partials/variables';

@import './partials/layout/nav';
@import './partials/layout/hero';
@import './partials/layout/ads';
@import './partials/layout/category';
@import './partials/layout/typography';
@import './partials/layout/button';
@import './partials/layout/content';
@import './partials/layout/featured';
@import './partials/layout/footer';
@import './partials/layout/guarantee';
@import './partials/layout/dropdown';
@import './partials/layout/shopping-cart';

html, body {
    color: $primary-color;
    overflow-x: hidden;
}

body {
    position: relative;
}

