.cart {
    margin: 4rem auto;
    max-width: 90%;
    
    &__item {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 3rem auto;   
        width: 100%;
        max-width: 700px;
        background-color: #eee;     

        &__img {
            max-height: 120px;
            min-width: 120px;
            max-width: 120px;
        }

        &__text {
            margin: 1rem;
        }

        &__price {
            margin: 1.8rem 1rem 0;
            vertical-align: bottom;
        }

        &__delete {
            position: absolute;
            right: 15px;
            top: 15px;
            font-size: $font-medium;
            font-weight: bold;
            font-family: $text-small;
            color: #A40C0A;
            cursor: pointer;
        }
    }

    &__total {
        margin: 0 auto;
        border-top: 1px solid black;
        padding-top: 1rem;
        max-width: 700px;
        display: flex;
        justify-content: space-between;
    }
}