.search {
    margin: 2rem;
    text-align: center;

    &__user-input {
        position: relative;

        &__input {
            margin-bottom: 4rem;
            width: 90%;
            font-size: $font-medium;
            padding: .6rem;
            border: 5px solid $light-green;
            border-radius: 10px;
            font-family: $text-small;
        }

        &__icon {
            position: absolute;
            right: 8%;
            top: 16px;
            font-size: 26px;
        }
    }

    &__results {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__box {
            max-width: 300px;
            margin-bottom: 2rem;
            cursor: pointer;

            &__img {
                max-width: 300px;
                min-width: 300px;
                max-height: 250px;
                min-height: 250px;
            }

            &__title {
                margin: .5rem 0;
            }

            &__img, &__title, &__price {
                text-align: left;
            }
        }
    }
}

@media only screen and (min-width: 641px) {
   .search {
       &__results {
           flex-direction: row;
           flex-wrap: wrap;
           justify-content: space-around;

           &__box {
               flex: 50%;
               max-width: 250px;

               &__img {
                   max-width: 250px;
                   min-width: 250px;
               }
           }
       }
   }
}

@media only screen and (min-width: 1007px) {
    .search {

        &__user-input {
            max-width: 50%;
            margin: 0 auto;
        }

        &__results {
 
            &__box {
                flex: 50%;
                max-width: 200px;
 
                &__img {
                    max-width: 200px;
                    min-width: 200px;
                    max-height: 160px;
                    min-height: 160px;
                }
            }
        }
    }
 }