.content {
    text-align: center;

    &__box {
        margin: 0 0 3rem;
        
        &__img-wrapper {
            position: relative;

            &__img {
                min-width: 100%;
                height: auto;
            }
            
            &__discount-tag {
                position: absolute;
                left: 0;
                top: 0;
                margin: .2rem;
                border: 1px solid #000;
                padding: .2rem;
                display: none;
                
                

                &__wrapper {
                    background: #000;
                    color: white;    
                    padding: .5rem;
                }
            }
        }

        &__text-wrapper {
            padding: 2rem;
            width: 90%;
            margin: 0 auto;

            &__header {
                margin-bottom: 1.5rem;
            }

            p {
                margin-bottom: 3rem;
            }
        }
    }

    &__limited img {
        margin-bottom: -5px;
    }
}

@media only screen and (min-width: 641px) {
    .content {
        text-align: left;
        margin: 0 auto;
        // width: 90%;

        &__box {
            display: flex;
            margin: 2rem 0;
            background-color: #EEE;

            &__img-wrapper {
                
                &__img {
                    height: 100%;
                    width: 300px;
                }

                &__discount-tag {
                    display: block;
                }
            }

            &__text-wrapper {
                
                p {
                    margin-bottom: 2rem;
                }
            }
        }

        &__box:first-of-type {
            margin: 0;
            margin-bottom: 2rem;
        }

        &__limited {
            display: none;
        }
    }
}

@media only screen and (min-width: 1008px) {
    .content {
        width: 70%;

        &__box {
            height: 400px;

            &__img-wrapper {
                min-width: 400px;
            }
        }
    }
}


