.pay-later {
    background-color: $secondary-color;
    color: white;
    padding: .5rem;
    text-align: center;
}

@media only screen and (min-width: 641px) {
    .pay-later h2{
        font-size: $font-medium-tab;
    }
}