.content {
    text-align: center;

    &__box {
        margin: 3rem 0 3rem;
        
        &__img {
            min-width: 100%;
            height: auto;
        }

        &__header {
            margin: 1.5rem 0 2rem;
        }
    }

    &__limited img {
        margin-bottom: -5px;
    }
}

@media only screen and (min-width: 641px) {
    .content {
        margin: 0 auto;
        width: 90%;

        &__box {
            display: flex;

            &__wrapper {
                width: 100%;
                max-width: 50%;
            }

            &__img {
                max-width: 100%;
                min-height: 100%;
            }
        }
    }
}