.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 1;
    display: none;
}

.dropdown {
    display: none;
    position: absolute;
    width: 60%;
    left: 0;
    top: 0;
    background: $primary-color;
    padding: 1rem;
    z-index: 2;

    &__list, &__login {
        list-style: none;
        
        li {
            margin: 1.5rem 0;
        }

        a {
            color: white;
        }

        i {
            color: $danger;
            font-size: 25px; 
            border-bottom: 1px solid rgba(255,255,255,.5);
            padding-bottom: 1.5rem;
            width: 100%;
        }

        i::after {
            content: url("../../../assets/mobile/logo_150x45_white.svg");
            width: 100px;
            height: 30px;
            margin-right: 1rem;
            background-size: cover;
            float: right;
            vertical-align: top;
        }
    }

    &__login {
        margin-top: 4rem;
    }
}