.form-wrapper {
    margin: 2rem auto;
    max-width: 80%;

   .form {
        display: flex; 
        flex-direction: column;

        label {
            display: flex;
            flex-direction: column;
            font-size: $font-small;
            font-family: $text-small;
            font-weight: bold;
            margin: 1rem 0 .3rem;
        }

        input, textarea {
            border: 1px solid $light-green;
            border-radius: 10px;
            font-size: $font-medium;
            padding: .4rem;
        }

        input[type="submit"] {
            width: 50%;
            background-color: $light-green;
            margin: 1rem auto;
        }

        textarea {
            min-height: 200px;
        }

        input[type="checkbox"] {
            background-color: $light-green;
            height: 30px;
            width: 30px;
        }

        input[type="submit"] {
            cursor: pointer;
        }

        &__submit--edit {
            background-color: #DFD016 !important;
         }
 
         &__submit--delete {
             background-color: #9C1919 !important;
             color: white;
         }

         &__error {
             color: #9C1919;
             display: none;
         }
    }
}




@media only screen and (min-width: 641px) {
    .form-wrapper {
        max-width: 500px;
    }
}