.message-container {
    font-family: $text-small;
    font-size: 1.4rem;
}

.success, .warning, .error {
    padding: .4rem;
    color: white;
}

.success {
    background-color: #26762C;
}

.warning {
    background-color: #B74707;
}

.error {
    background-color: #A40C0A;
}